<launch>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <!-- Add fetch_gazebo models to support playground -->
  <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(find uw_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <arg name="rviz" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="map_file" default=""/>
  <arg name="world" default="" />
  <arg name="use_astro" default="true" />

  <include file="$(find uw_gazebo)/launch/include/common.xml">
    <arg name="gui" value="$(arg gui)" />
    <arg name="world" value="$(arg world)" />
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="use_astro" value="$(arg use_astro)" />
  </include>

  <include file="$(find uw_fetch_bringup)/launch/navigation.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="use_fake_localization" value="true"/>
  </include>

  <!-- Let the robot move faster than in the real world -->
  <rosparam file="$(find uw_gazebo)/config/move_base.yaml" ns="move_base" command="load" />

  <node if="$(arg rviz)" name="rviz" type="rviz" pkg="rviz" args="--display-config $(find uw_fetch_bringup)/config/fetch.rviz" />

</launch>
