<launch>
  <arg name="use_astro" default="true" />
  <include file="$(find uw_gazebo)/launch/empty_simulation.launch">
    <arg name="map_file" default="$(find uw_gazebo)/maps/house/map.yaml"/>
    <arg name="world" default="$(find uw_gazebo)/worlds/house.world" />
    <arg name="use_astro" value="$(arg use_astro)"/>
  </include>
</launch>
